<% if @project.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@project.errors.count, "error") %> prohibited this article from being saved:</h2>
 
    <ul>
    <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @project do |f| %>
  <%= f.hidden_field :user_id %><br>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br><br>
  <%= f.label :description %><br>
  <%= f.text_field :description %><br><br>
  <%= f.label :fund_goal %><br>
  <%= f.number_field :fund_goal %><br><br>
  <label for"project_end_date">End Date (yyyy/mm/dd)</label><br>
  <%= f.text_field :end_date %><br><br>
  <label>Select Relevant Categories:</label><br>
  <%= collection_check_boxes(:project, :category_ids, Category.all, :id, :title) %><br>
  <label>And/Or Create a New Category:</label><br>
  <input type="text" name="project[new_category]" id="new_project_category"><br><br>
  <%= f.submit %><br>
<% end %>