<h1><%= @project.title%> <%= show_edit %> <%= show_delete %></h1>
<p><%= @project.description %></p>
<p>Owned by: <%= link_to @project.user_email, profile_path(@project.user)%></p>
<p id="funded">Amount Funded: <%= @project.funded %> / <%= @project.fund_goal%> ( <%= @project.funded_percent %>% )</p>
<p>End Date: <%= @project.end_date %></p>
<br>
<h4>Associated Categories: </h4>
<% @project.categories.each do |c| %>
  <p><%= link_to c.title, category_path(c)%></p>
<% end %>
<h4>Current Backers:</h4>
<% @project.backers.each do |b| %>
  <p><%= link_to b.email, profile_path(b) %></p>
<% end %>
<br>
<% if user_signed_in? %>
  <p>Interested? Fund an amount below:</p>
  <%= form_for @fund do |f| %>
    <%= f.hidden_field :backer_id %>
    <%= f.hidden_field :project_id %>
    <%= f.number_field :amount %>
    <%= button_to 'Fund', funds_path %>
    <% end %>
<% else %>
  <p>Want to help fund this project? <%= link_to "Sign In", new_user_session_path %></p>
<% end %>
<%= link_to "Check Out Who's Funded for This Project", project_funds_path(@project) %>